/*body{
    background-color: azure;
    color:rgb(85, 82, 91);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
input{
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    margin-right:20px;
    margin-top: 20px;

}
p{
    font-family: "Playfair Display";    
}

.title{
    font-size: 48px;
    font-family: "Playfair Display";
    color: white;
    margin: 0;
}
.title-else{
    font-size: 48px;
    font-family: "Playfair Display";
    color:white;
    margin: 0;
}
.bullet{
    font-size: 24px;
    color: white;
}
.sign{
    border: 1px solid white;
    padding: 7px;
    margin: 10px 0 5px 5px;
    background: white;
    text-align: center;
    display: block;
}
.sign figcaption{
    margin: 0 auto 5px;
}
.button-about-me{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(224, 181, 101);
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 18px;
    margin-top: 10px;
    
}
.button-about-me:hover{
    background-color: rgb(224, 181, 101);
    color: #fff;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.photo{
    margin: 5px;
}
.e{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-header{
    background-color: white;
    color:gray;

}
#main-header p{
    font-size: 32px;
    color: black;
    text-align: center;
    width: 33%;
}
#portfolio{
    
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 30px;
}
#else{
    text-align: center;
    background-color: #333;
    padding-bottom: 30px;

}

.one-comment{
    display: inline-block;
    border: 1px solid gray;
    padding: 20px;
    background-color: white;
    margin-bottom:20px; 

}
.one-comment img{
    width: 150px;
    border-radius: 75px;
    margin: 0px 25px 0px 0px;
    display: block;

}
.one-comment p{
    font: normal 18px "ProximaNovaRegular";
    display: block;
}

.big {
    cursor: pointer; 
    height: 350px;
}
.big:hover {
    height:550px;
}
#navbar{
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;   
  width: 100%;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    font-family: "Playfair Display";
    display: inline-block;
}
#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding-right: 15px;
}
#main-footer{
    background-color: #333;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#feedback{
    padding-bottom:20px;
    text-align: center;
    background-image: url(http://olgatavluy.ru/images/b3-bg.jpg);
}
#feedback input::-webkit-input-placeholder { 
    color: white; 
}

#diploma{
    padding-bottom:20px;
    text-align: center;
}


#about-me{

    background-image: url(http://olgatavluy.ru/images/about_me.jpg);
    /* background-position: right; */
    padding-top: 50px;
    padding-bottom: 50px;
} 
#comment{
    background-color: antiquewhite;
    padding-bottom:20px;
    text-align: center;


}
.first_letter{
    color: red;
    size: 20px;
    font-weight: 600;


}
.other_letter{
    color: darkblue;
    font-weight: 600;
}
.word{
    width: 500px;
    margin: 50px;
    font-size: 18px;
}
