/*body{
    background-color: azure;
    color:rgb(85, 82, 91);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.title{
    font-size: 48px;
    font-family: "Playfair Display";
    color: black;
    margin: 0;
}
.title-else{
    font-size: 48px;
    font-family: "Playfair Display";
    color:white;
    margin: 0;
}
.bullet{
    font-size: 24px;
}
.sign{
    border: 1px solid white;
    padding: 7px;
    margin: 10px 0 5px 5px;
    background: white;
    text-align: center;
    display: block;
}
.sign figcaption{
    margin: 0 auto 5px;
}
.button-about-me{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(224, 181, 101);
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 18px;
}
.button-about-me:hover{
    background-color: rgb(224, 181, 101);
    color: #fff;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.first{
    width: 33%;
    float: left;

}
.second{
    width: 33%;
    display: inline-block;
    
}
.third{
    width: 33%;
    float: right;
}

.center{
    text-align: center;
    display: block;
}


.photo{
    margin: 5px;
}
.list-esle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-header{
    background-color: white;
    color:gray;
}
#portfolio{
    text-align: center;
    background-color: antiquewhite;
}
#else{
    text-align: center;
    background-color: #333;
}
#navbar{
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;   
  width: 100%;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline-block;
}
#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#about-me{
    background-image: url(/images/about-me.jpg);
    background-position: right;
    padding-top: 50px;
    padding-bottom: 50px;
} 