@charset "utf-8";
/*---- include bootstrap styles  ----- */
@import url(/javascript/bootstrap/css/blueimp-gallery.min.css);
@import url(/javascript/bootstrap/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&subset=cyrillic';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic');
@import url(fonts.css);

html { 
    
}

body {
	margin: 0px auto !important;
	width: 100%;
	height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    color: #55525b;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/* Убираем границу вокруг ссылок  */
a,
a:focus {
    outline: none;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/* Убираем границу изображений  */
img {border:0px}

/*------------------------------------------------------------------------------------------------------------------------*/
/* основные стили */

/* 
ProximaNovaRegular
ProximaNovaBold
*/

/* ----- PHOTO */
a[data-gallery="data-gallery"], .one-insta{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
a[data-gallery="data-gallery"] > img, .one-insta > img{
    max-width: 100%;
}
a[data-gallery="data-gallery"] > .zoom, .one-insta > .zoom{
    position: absolute;
    transform: translateY(100%);
    transition: all 350ms ease-in-out;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    top: 0px;
    width: 100%;
    height: 100%;
}
a[data-gallery="data-gallery"]:hover > .zoom, .one-insta:hover > .zoom{
    transform: translateY(0px);
}
a[data-gallery="data-gallery"] > .zoom > .border, .one-insta > .zoom > .border{
    border: 1px solid rgba(255,255,255,1);
    text-align: center;
    height: 100%;
    padding-top: 50%;
}
a[data-gallery="data-gallery"] > .zoom > .border > img, .one-insta > .zoom > .border > img{
    margin-top: -35px;
}
.blueimp-gallery>.indicator{
    height: 62px !important;
    overflow: hidden;
}
.blueimp-gallery>.indicator>li {
    background-size: cover !important;
    height: 60px !important;
    width: 60px !important;
    margin: 0px 3px !important;
}

/* ----- FORM */
.btnMY{
    padding: 10px 53px;
    border: 1px solid #e0b565;
    color: #e0b565;
    font: normal 18px 'ProximaNovaRegular';
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;    
}
.btnMY:hover, .btnMY:focus, .btnMY:active{
    background: #e0b565;
    color: #fff;
    text-decoration: none;
}
.btnMY-black{
    padding: 10px 25px;
    border: 1px solid #e0b565;
    color: #000;
    font: normal 18px 'ProximaNovaRegular';
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
.btnMY-black:hover, .btnMY-black:focus, .btnMY-black:active{
    background: #e0b565;
    color: #fff;
    text-decoration: none;
}
.btnMY-onix{
    padding: 12.5px 25px;
    border: 1px solid #39363f;
    color: #fff;
    font: normal 18px 'ProximaNovaRegular';
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    background: #39363f;
}
.btnMY-onix:hover, .btnMY-onix:focus, .btnMY-onix:active{
    color: #e0b565;
    text-decoration: none;
}
/* ----- */
.link{
    color: #e0b565;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover{
    text-decoration: none;
}
/* ----- */
.more, .more:hover{
    color: #000;
    cursor: pointer;
    font: normal 18px 'ProximaNovaBold';
    text-transform: uppercase;
    text-decoration: none;
}
.more i{
    color: #000 !important;
}
.more span{
    text-decoration: underline;
}
.more:hover span{
    color: #e0b565;
}
/* ----- */
.input{
    height: 52px;
    border: 1px solid #fff;
    margin-bottom: 25px;
}
.input > span{
    position: absolute;
    padding: 12.5px 20px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    color: #e0b565;
}
.input > input{
    float: left;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 2px 15px 0px 50px;
    background: rgba(0,0,0,0);
    color: #fff;
    font: normal 18px 'ProximaNovaRegular';
}
.button{
    
}
.button > button{
    padding: 0px 0px 0px 0px;
    height: 52px;
    border: 1px solid #e0b565;
    color: #fff;
    font: normal 18px 'ProximaNovaBold';
    text-align: center;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    background: rgba(0,0,0,0);
}
.button > button:hover{
    background: #e0b565;
    color: #000;
}
.radio{
    height: 52px;
    border: 1px solid #fff;
    margin-bottom: 25px;
    text-align: center;
    margin: 0px;
}
.radio > div{
    width: 50%;
    float: left;
    height: 52px;
    padding-top: 12.5px;
}
.radio .left{
    border-right: 1px solid #fff;
}
.radio label{
    font: normal 18px 'ProximaNovaRegular';
    margin-left: -10px;
}
.radio img{
    margin-left: 10px;
    cursor: pointer;
}
.radio input ~ .none{
    display: inline-block;
}
.radio input ~ .none{
    display: inline-block;
}
.radio input ~ .yes{
    display: none;
}
.radio input:checked ~ .none{
    display: none;
}
.radio input:checked ~ .yes{
    display: inline-block;
}
label{
    font: 400 24px 'Playfair Display';
    color: #fff;
    margin-bottom: 10px;
}
.pointer{
    cursor: pointer;
}

/* ----- HEADER */
.header{
    background: #fff;
    padding: 15px 0px;
}
.header .title{
    padding-top: 25px;
}
.header .title div{
    font: 400 24px 'Playfair Display';
    color: #55525b;
}
.header .logo{
    text-align: center;
}
.header .contacts{
    text-align: right;
    padding-top: 0px;
}
.header .contacts .number{
    font: normal 24px 'ProximaNovaRegular';
    color: #55525b;
    margin-bottom: 5px;
}
.header .contacts .media{
    list-style: none;
    padding: 0px;
    margin: 5px 12.5px 0px 0px;
    float: right;    
}
.header .contacts .media > li{
    float: left;
    padding-left: 45px;
}
.header .contacts .media > li > a{
    font-size: 28px;
    color: #e0b565;
}

/* ----- MENU */
.menu{
    background: #39363f;
}
.menu .navbar, .menu .navbar .navbar-collapse, .menu .navbar .navbar-collapse .nav{
    border: none;
    border-radius: 0px;
    background: #39363f;
    margin: 0px;
    padding: 0px;
}
.menu .navbar .navbar-collapse{
    
}
.menu .navbar .navbar-collapse .nav{
    margin: 0px -25.25px;  
}
.menu .navbar .navbar-collapse .nav > li{
    padding: 10px 25.25px 15px 25.25px;
}
.menu .navbar .navbar-collapse .nav > li > a{
    font: 400 20px 'Playfair Display';
    color: #fff;
    border-bottom: 1px solid #88868c;
    padding: 0px;
}
.menu .navbar .navbar-collapse .nav > li > a:hover{
    color: #e0b565;
    border-bottom: 1px solid #e0b565;
}

/* BLOCK ALL */
.block .title{
    color: #39363f;
    font: 400 48px/60px 'Playfair Display';
    margin-top: 50px;
    text-align: center;
}
.block .subtitle{
    color: #39363f;
    font: 400 28px/38px 'Playfair Display';
    margin-top: 5px;
}
.block .subtitle.yellow{
    color: #e0b565;
}
.block .title-img{
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.block ul{
    font: normal 17.88px 'ProximaNovaRegular';
    list-style: none;
    padding: 0px;
}
.block ul li{
    margin-bottom: 15px;
}
.block ul li b{
    font: normal 18px 'ProximaNovaBold';
}
.block ul li i{
    font-size: 12px;
    color: #e0b565;
    margin-right: 5px;
}

/* ----- BLOCK 1 */
.block-1{
    background: url(/img/b1-bg.jpg);
    background-position: right;
    height: 630px;
}
.block-1 .title{
    text-align: left;
}
.block-1 ul{
    margin-top: 30px;
}
.block-1 .btnMY-black{
    margin-top: 25px;
    padding: 20px 50px;
}

/* ----- BLOCK 2 */
.block-2 .one-img{
    margin-top: 30px;
}
.block-2 .margin{
    margin: 45px 0px;
}

/* ----- BLOCK 3 */
.block-3{
    background: url(/img/b3-bg.jpg);
    background-position: center;
    height: 330px;
}
.block-3 .title{
    color: #fff;
}
.block-3 .title-img{
    margin-bottom: 30px;
}

/* ----- BLOCK 4 */
.block-4{
    background: url(/img/b4-bg.jpg);
    background-position: center;
    height: 640px;
}
.block-4 .title{
    text-align: left;
    font: 400 44px/56px 'Playfair Display';
}
.block-4 .one-point{
    margin-top: 45px;
}
.block-4 .one-point img{
    float: left;
    margin-top: -17.5px;
    margin-right: 20px;
}
.block-4 .one-point p{
    font: normal 18px 'ProximaNovaRegular';
}
.block-4 .one-point p b{
    font-family: 'ProximaNovaBold';
}

/* ----- BLOCK 5 */
.block-5{
    padding-bottom: 50px;
}
.block-5 .one-img{
    margin-top: 30px;
}
.block-5 .one-img > a {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.block-5 .one-img > a > .img{
    max-width: 100%;
}
.block-5 .one-img > a > .text{
    font: 400 18px 'Playfair Display';
    padding: 15px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: #fff;
}

/* ----- BLOCK 6 */
.block-6{
    background: url(/img/b6-bg.jpg);
    background-position: center;
    height: 330px;
}

/* ----- BLOCK 7 */
.block-7{
    background: url(/img/b7-bg.jpg);
    background-position: center;
    height: 550px;
}
.block-7 .title{
    text-align: left;
}
.block-7 .one-point{
    margin-top: 45px;
}
.block-7 .one-point img{
    float: left;
    margin-top: -17.5px;
    margin-right: 20px;
}
.block-7 .one-point p{
    font: normal 18px 'ProximaNovaRegular';
}
.block-7 .one-point p b{
    font-family: 'ProximaNovaBold';
}

/* ----- BLOCK 8 */
.block-8{
    height: 610px;
    background: url(/img/b8-bg.png) no-repeat;
    background-position: center right;
}
.block-8 .bg{
    padding-top: 50px;
}
.block-8 p{
    font: normal 26px 'Playfair Display';
    margin-bottom: 20px;
    text-align: center;
}
.block-8 p.yellow{
    color: #e0b565;
    margin-top: 10px;
    margin-bottom: 0px;
}
.block-8 label{
    color: #55525b;
}
.block-8 input{
    border: 1px solid #55525b;
    color: #55525b;
}
.block-8 .open-photo{
    color: #000 !important;
    font: normal 18px 'ProximaNovaRegular';
    text-transform: none;
    text-align: left;
    padding-left: 15px;
}
.block-8 .open-photo .fa{
    color: #e0b565;
    padding: 0px 10px 0px 3px;
    font-size: 18px;
}
.block-8 .open-photo:hover .fa{
    color: #000 !important;
}
.block-8 button{
    color: #000 !important;
}

/* ----- BLOCK 9 */
.block-9{
    background: url(/img/b9-bg.jpg);
    background-position: center;
    height: 650px;
}
.block-9 .title{
    color: #fff;
}
.block-9 .one-icon{
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.block-9 .one-icon img{
    
}
.block-9 .one-icon .text{
    font: normal 18px 'ProximaNovaRegular';
    color: #fff;
    width: 260px;
    margin: 7.5px auto;
    height: 88px;
}
.block-9 .one-icon .text b{
    font-family: 'ProximaNovaBold';
}
.block-9 .one-icon .num{
    position: absolute;
    font: 400 30px 'Playfair Display';
    color: #fff;
    top: 30px;
    right: 80px;
}
.block-9 .one-icon .arrow{
    position: absolute;
    top: 42.5px;
    right: -90px;
}

/* ----- BLOCK 10 */
.block-10{
    background: #fafafa;
}
.block-10 .one-comment{
    border: 1px solid #b9b9b9;
    margin-top: 20px;
    padding: 25px 75px 25px 25px;
}
.block-10 .one-comment img{
    float: left;
    margin: 0px 25px 0px 0px;
    width: 150px;
    border-radius: 75px;
}
.block-10 .one-comment .title-com{
    font: 400 36px 'Playfair Display';
    color: #39363f;
}
.block-10 .one-comment p{
    font: normal 18px 'ProximaNovaRegular';
    color: #5c5c5c;
    margin-left: 170px;
}
.block-10 .margin{
    margin: 50px 0px;
    text-align: center;
}
.block-10 .btnMY-black{
    padding: 15px 75px;
}

/* ----- BLOCK 11 */
.block-11{
    padding: 65px 0px;
}
.block-11 .block-icons{
    position: relative;
}
.block-11 .block-icons .icon1{
    position: absolute;
    top: -30px;
    left: 55%;
}
.block-11 .block-icons .icon2{
    position: absolute;
    top: 60px;
    right: -140px;
}
.block-11 .block-icons .icon3{
    position: absolute;
    top: 300px;
    right: 50px;
}
.block-11 .block-icons .bg{
    float: left;
    margin: 0px 50px 0px 0px;
}
.block-11 .block-icons .title{
    text-align: left;
    margin-top: 80px;
}
.block-11 .block-icons .line{
    height: 1px;
    background: #000;
    width: 100px;
    margin: 35px 0px 35px 410px;
}
.block-11 .block-icons .subtitle{
    font: 400 30px/42px 'Playfair Display';
}
.block-11 .block-icons .subtitle > a,
.block-11 .block-icons .subtitle > a:hover{
    color: #e0b565;
}

/* ----- BLOCK 12 */
.block-12{
    background: url(/img/b12-bg.jpg);
    background-position: center;
    height: 450px;
}

/* ----- BLOCK 13 */
.block-13{
    padding-bottom: 50px;
}
.block-13 {
    
}
.block-13 .question{
    
}
.block-13 .question-close .body{
    display: none;
}
.block-13 .question-open .body{
    display: block;
}
.block-13 .question .head{
    cursor: pointer;
    padding: 25px 40px;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    transition: 250ms;
}
.block-13 .question .head:hover{
    background: #f6f6f6;
}
.block-13 .question-open .head{
    background: #f6f6f6;
}
.block-13 .question .head .num{
    margin-right: 25px;
    font: normal 24px 'ProximaNovaRegular';
    color: #39363f;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    float: left;
    border: 1px solid #39363f;
    transition: 250ms;
}
.block-13 .question:hover .head .num{
    color: #fff;
    background: #e0b565;
}
.block-13 .question-open .head .num{
    color: #fff;
    background: #e0b565;
}
.block-13 .question .head .text{
    font: 400 30px/42px 'Playfair Display';
    color: #39363f;
    margin-top: 5px;
}
.block-13 .question .body{
    padding: 25px 40px 25px 115px;
}
.block-13 .question .body p{
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
    padding: 0px;
}

/* ----- BLOCK 14 */
.block-14{
    background: url(/img/b14-bg.jpg);
    background-position: center;
    height: 370px;
}
.block-14 .title{
    
}
.block-14 .title-dop{
    color: #fff;
    font: 400 24px 'Playfair Display';
    text-align: center;
}

/* ----- Отзывы */
.otzyvy{
    padding-bottom: 75px;
}

/* ----- Обучение */
.education{
    background: #fafafa;
    padding-bottom: 75px;
}
.education .one-stilitst-education{
    padding: 30px;
    background: #fff;
    margin-top: 25px;
}
.education .one-stilitst-education .row {
    position: relative;
}
.education .one-stilitst-education .row > div{
    position: static;
}
.education .one-stilitst-education .title{
    font: 400 30px 'Playfair Display';
    color: #39363f;
    text-align: left;
    margin: 0px;
}
.education .one-stilitst-education .line{
    background: #d7d7d9;
    height: 1px;
    margin: 22.5px 0px;
}
.education .one-stilitst-education .subtitle{
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
    text-align: left;
}
.education .one-stilitst-education .subtitle > span{
    color: #d8a442;
}
.education .one-stilitst-education .subtitle > b{
    font: normal 24px 'ProximaNovaRegular';
}
.education .one-stilitst-education .btnMY-black{
    padding: 12.5px 35px;
    margin-top: 15px;
    bottom: 0px;
    position: absolute;
    display: block;
    width: 250px;    
}
.education .one-stilitst-education p{
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
}
.education .one-stilitst-education li{
    margin-bottom: 10px;
}
.education .one-stilitst-education p > b{
    font: normal 18px 'ProximaNovaBold';
}
.education .one-stilitst-education .btnMY-onix{
    margin: 0px 0px 0px 265px;
    bottom: 0px;
    position: absolute;
    display: block;
    width: 250px;
}
.education .one-stilitst-education .img{
    max-width: 100%;
}

/* ----- Аренда */
.arenda-1{
    background: #fafafa;
    padding-bottom: 75px;
}
.arenda-1 .title{
    font: 400 44px 'Playfair Display';
}
.arenda-1 .row-photo{
    margin: 25px 0px 0px 0px;
}
.arenda-2 {
    padding-bottom: 75px;
}
.arenda-2 .buttons{
    margin: 20px -15px 10px -15px;
}
.arenda-2 .buttons span{
    width: 100%;
    padding: 15px 0px;
}
.arenda-2  .prices {
    margin-top: 40px;
}
.arenda-2  .prices-last{
    margin-top: 0px;
}
.arenda-2  .prices > div{
    border-right: 1px solid rgba(0,0,0,0.5);
}
.arenda-2  .prices > div:last-child{
    border-right: 1px solid rgba(0,0,0,0);
}
.arenda-2  .prices > div > div{
    padding:  20px 0px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.arenda-2  .prices-last > div > div{
    border-bottom: 1px solid rgba(0,0,0,0) !important;
}
.arenda-2  .prices > div > div > span{
    font: normal 18px 'ProximaNovaRegular';
}
.arenda-2  .prices > div > div > b{
    font: normal 18px 'ProximaNovaBold';
}
.arenda-3{
    background: #fafafa;
    padding-bottom: 75px;
}
.arenda-3 .map{
    padding: 10px;
    background: #fff;
}
.arenda-3 .map #map{
    width: 100%;
    height: 600px;
}

/* ----- Каталог */
.row-catalog > div > a{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    margin-top: 25px;
}
.row-catalog > div > a > img{
    max-width: 100%;
}
.row-catalog > div > a > .zoom{
    position: absolute;
    transform: translateY(100%);
    transition: all 350ms ease-in-out;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    top: 0px;
    width: 100%;
    height: 100%;
}
.row-catalog > div > a:hover > .zoom{
    transform: translateY(0px);
}
.row-catalog > div > a > .zoom > .border{
    border: 1px solid rgba(255,255,255,1);
    text-align: center;
    height: 100%;
    padding-top: 50%;
}
.row-catalog > div > a > .zoom-up > .border{
    padding-top: 0%;
    display: table;
    width: 100%;
}
.row-catalog > div > a > .zoom > .border > img:first-child{
    margin-top: -100px;
}
.row-catalog > div > a > .zoom > .border > .name{
    font: 400 30px 'Playfair Display';
    padding: 12.5px 10px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.row-catalog-mobile .one-img{
    margin-top: 25px;
}
.row-catalog-mobile .one-img > a {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.row-catalog-mobile .one-img > a > .img {
    max-width: 100%;
}
.row-catalog-mobile .one-img > a > .text {
    font: 400 18px 'Playfair Display';
    padding: 15px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: #fff;
}
.block-catalog{
    background: url(/img/catalog-bg.jpg);
    background-position: center;
    height: 370px;
    margin-top: 70px;
}
.block-catalog .title-dop{
    font: 400 24px 'Playfair Display';
    color: #fff;
    text-align: center;
}
/* */
.row-photo-in{
    margin-bottom: 50px;
}
.row-photo-in > div{
    margin-top: 25px;
    min-height: 366px;
}
.row-photo-in > div > img{
    max-width: 100%;
}

/* ----- Stylists */
.stylist-1{
    background: #fafafa;
    padding-bottom: 75px;
}
.stylist-2{
    background: #fff;
    padding-bottom: 75px;
}
.stylist-2 .title span{
    color: #e0b565;
    font-family:'ProximaNovaBold' !important;
}
.stylist-3{
    background: #fafafa;
    padding-bottom: 75px;
}
.stylist-3 .title b{
    font-family:'ProximaNovaBold' !important;
}
.row-stylist{
    
}
.row-stylist .one-stylist, .row-stylist .one-stylist:hover{
    text-decoration: none !important;
}
.row-stylist .one-stylist > div{
    position: relative;
    margin-top: 35px;
}
.row-stylist .one-stylist > div img{
    width: 100%;
}
.row-stylist .one-stylist > div .border{
    position: absolute;
    transition: all 250ms ease-in-out;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border: 3px solid rgba(255,255,255,0);
    cursor: pointer;
}
.row-stylist .one-stylist > div .border:hover{
    border: 3px solid rgba(255,255,255,1);
}
.row-stylist .one-stylist .name, .row-stylist .one-stylist .name:hover{
    font: 400 26px 'Playfair Display';
    margin-top: 5px;
    text-align: center;
    color: #39363f;
    text-decoration: none !important;
}

/* ----- Stylist */
.one-stylist-1{
    background: #fafafa;
    padding-bottom: 75px;
}
.one-stylist-1 .left-part{
    padding-top: 20px;
}
.one-stylist-1 .left-part img{
    max-width: 100%;
}
.one-stylist-1 .left-part .btnMY-black{
    margin-top: 25px;
    padding: 12.5px;
    width: 100%;
}
.one-stylist-1 .right-part{
    padding-top: 20px;
}
.one-stylist-1 .right-part .name{
    color: #39363f;
    font: 400 48px/48px 'Playfair Display';    
}
.one-stylist-1 .right-part .one-p{
    margin-top: 25px;
}
.one-stylist-1 .right-part .one-p img{
    float: left;
    margin-right: 15px;
}
.one-stylist-1 .right-part .one-p p{
    font: normal 18px 'ProximaNovaRegular';
    margin-left: 70px;
}
.one-stylist-1 .right-part .one-p p b{
    font: normal 18px 'ProximaNovaBold';
}
.one-stylist-2{
    padding-bottom: 75px;
}
.one-stylist-2 .title{
    font: 400 44px/56px 'Playfair Display';    
}
.one-stylist-2 .one-work{
    margin-top: 25px;
    min-height: 336px;
}
.one-stylist-2 .one-work > div{
    background: #e8e8e8;
}

/* ----- Price */
.price{
    background: #fafafa;
    padding-bottom: 75px;
}
.price .tabs-for-price{
    width: 800px;
    height: 40px;
    margin: 20px auto;
}
.price .tabs-for-price > .one-tab-p{
    font: 400 30px/42px 'Playfair Display';
    float: left;
    width: 50%;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 3px solid #65646a;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.price .tabs-for-price > .one-tab-p > br{
    display: none;
}
.price .tabs-for-price > .one-tab-p:hover{
    color: #e0b565;
    border-bottom: 3px solid #e0b565;
}
.price .tabs-for-price > .one-tab-p.active{
    border-bottom: 3px solid #e0b565;
}
.price .tabs-for-price > .one-tab-p:first-child{
    
}
.price .tabs-for-price > .one-tab-p:last-child{
    
}
.one-price{
    margin-top: 25px;
    border: 1px solid #39363f;
    padding: 15px 40px 10px 40px;
}
.one-price-red{
    border: 1px solid #f44336;
}
.one-price .head{
    
}
.price-open{
    border: 1px solid #dbac54;
}
.price-open .head{
    border-bottom: 1px solid #39363f;
    padding-bottom: 15px;
}
.one-price .head .num{
    background: #39363f;
    margin-right: 25px;
    font-size: 28px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    padding-left: 1px;
    text-align: center;
    float: left;
    transition: 250ms;
    cursor: pointer;
}
.one-price .head .num:hover{
    background: #dbac54;
}
.price-open .head .num{
    background: #dbac54;
    transform: rotateX(180deg);
}
.one-price .head .text{
    font: 400 30px/42px 'Playfair Display';
    color: #39363f;
    margin-top: 5px;
    cursor: pointer;
}
.one-price .body{
    padding-top: 15px;
    color: #000000;
    height: 0px;
    overflow: hidden;
}
.price-open .body{
    height: inherit;
}
.one-price .body .title{
    font: normal 24px 'ProximaNovaRegular';
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.one-price .body .spec-title{
    margin-top: 20px;    
    color: #e0b565;
    font: normal 18px 'ProximaNovaRegular';
}
.one-price .body .spec-subtitle{
    font: normal 14px 'ProximaNovaRegular';
}
.one-price .body .table-my{
    margin: 20px 0px 10px 0px;
}
.one-price .body .table-my .td-my{
    width: 33%;
    float: left;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.one-price .body .table-my .td-my:nth-child(3n+3){
    border-right: none;
}
.one-price .body .table-my .td-my b{
    font: 600 18px 'Playfair Display';
}
.one-price .body .table-my .td-my span{
    font: normal 18px 'ProximaNovaRegular';
}
.one-price .body .one-p-simple{
    font: normal 16px 'ProximaNovaRegular';
    margin-top: 10px;
    margin-bottom: 30px;
}
.one-price .body .one-p{
    height: 50px;
    margin-top: 17.5px;
    display: table;
    width: 100%;
    vertical-align: middle;
}
.one-price .body .one-p-simple + .one-p{
    margin-top: 37.5px;
}
.one-price .body .one-p img{
    width: 50px;
    display: table-cell;
    margin-right: 16px;
}
.one-price .body .one-p p{
    font: normal 17px 'ProximaNovaRegular';
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 100%;
}
.one-price .body .btnMY-black{
    margin: 30px 0px 20px 0px;
}
.one-price .body .img{
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* ----- Blog */
.posts .one-post{
    padding-top: 25px;
}
.one-post{
    
}
.one-post > div{
    background: #fff;
    padding: 15px;
}
.one-post > div > a{
    
}
.one-post > div > a > img{
    max-width: 100%;
}
.one-post > div > .name{
    margin-top: 10px;
    display: block;
    overflow: hidden;
    height: 47px;
}
.one-post > div > .name > a{
    color: #39363f;
    font: 400 16px 'Playfair Display';
}
.one-post > div:hover > .name > a, .one-post > div > .name > a:hover{
    color: #e0b565;
    text-decoration: none;
}
.one-post > div > .date{
    font: normal 14px 'ProximaNovaRegular';   
    margin-top: 5px; 
    color: #55525b;
    text-transform: capitalize;
}
.one-post > div > .active{
    margin-top: 10px;
}
.one-post > div > .active > span:first-child{
    color: #55525b;
    font: normal 18px 'ProximaNovaRegular';   
}
.one-post > div > .active > span:first-child > i{
    padding-right: 5px;
}
.one-post > div > .active > span:last-child{
    color: #55525b;
    font: normal 18px 'ProximaNovaRegular';   
    float: right;
}
.one-post > div > .active > span:last-child > i{
    padding-left: 5px;
}
.one-post > div > .active > span > i{
    color: #e0b565;
    font-size: 16px;
}

.right-blog{
   padding-top: 25px;
}
.right-blog > div{
   background: #fff;
   padding: 15px;
}
.right-blog .avatar{
    width: 100%;
    border-radius: 100%;
    border: 7.5px solid #e0b565;
    overflow: hidden;
}
.right-blog .avatar img{
    max-width: 100%;
}
.right-blog .name{
    color: #39363f;
    font: 400 14px 'Playfair Display';
    text-align: center;
    padding: 10px 0px;
}
.right-blog .text{
    color: #39363f;
    font: 400 16px 'ProximaNovaRegular';
    text-align: center;
    padding-top: 10px;
}
.right-blog .line{
    height: 1px;
    background: rgba(0,0,0,0.2);
    margin: 15px 35px;
}
.right-blog .categories{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.right-blog .categories li{
    margin-bottom: 5px;
}
.right-blog .categories li a{
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
}
.right-blog .categories li a:hover{
    color: #e0b565;
    text-decoration: none;
}

.blog .title {
    font: 400 36px/48px 'Playfair Display';
    margin-top: 40px;
}
.blog p {
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
    margin-bottom: 15px;
}
.blog b, .blog strong {
    font-family: 'ProximaNovaBold';
}
.blog ul {
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
    margin: 20px 0px;
    padding: 0px 30px;
    list-style: inherit;
}
.blog ul > li{
    font: normal 18px 'ProximaNovaRegular';
    color: #39363f;
    margin-bottom: 5px;
}
.blogComment{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Collage{
    padding:5px;
}
.Collage img{
    vertical-align:bottom;
    opacity:0;
}

/* ----- Instagram */
.instagram{
    padding-bottom: 75px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
}
.instagram .one-insta{
    margin-top: 25px;
}
.instagram .one-insta > .bg{
    width: 100%;
    height: 336px;
    background-size: cover !important;
}

/* ----- Контакты */
.contacts-p{
    text-align: center;
}
.contacts-p .subtitle{
    font: 400 24px 'Playfair Display';
    color: #e0b565;
    margin-bottom: 15px;
    height: 64px;
}
.contacts-p .subtitle > div{
    display: table;
    height: 64px;
    width: 100%;
}
.contacts-p .subtitle > div > div{
    display: table-cell;
    height: 64px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.contacts-p p{
    font: normal 18px/26px 'ProximaNovaRegular';
}
.contacts-p p > b{
    font-family: 'ProximaNovaBold';
}

/* ----- POP UP */
.modal-send{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 200;
}
.modal-send .modal-close{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modal-send .modal-block{
    position: relative;
    z-index: 10;
    width: 400px;
    background: #fff;
    margin: 50px auto 0px auto;
    padding-bottom: 25px;
    display: none;
    color: #39363f;
    padding: 30px 25px 30px 25px; 
}
.modal-send .modal-block .exit{
    position: absolute;
    top: 0px;
    right: -36px;
    cursor: pointer;
}
.modal-send .modal-block .tilte{
    font: 400 36px 'Playfair Display';
    text-align: center;
}
.modal-send .modal-block .subtitle{
    margin: 10px 0px 20px 0px;
    font: normal 18px 'ProximaNovaRegular';
    text-align: center;
}
.modal-send .modal-block label{
    color: #39363f;
}
.modal-send .modal-block input{
    border: 1px solid #39363f;
    color: #39363f;
}
.modal-send .modal-block button{
    color: #000;
}

/* Фото */
.modal-photo{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 200;
}
.modal-photo .modal-close-photo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modal-photo .modal-block{
    position: relative;
    z-index: 10;
    width: 400px;
    background: #fff;
    margin: 50px auto 0px auto;
    padding-bottom: 25px;
    color: #39363f;
    padding: 30px 25px 30px 25px; 
}
.modal-photo .modal-block .exit-photo{
    position: absolute;
    top: 0px;
    right: -36px;blo
    cursor: pointer;
}
.modal-photo .modal-block .tilte{
    font: 400 36px 'Playfair Display';
    text-align: center;
    margin-bottom: 20px;
}
.modal-photo .modal-block label{
    color: #39363f;
}
.modal-photo .modal-block input{
    border: 1px solid #39363f;
    color: #39363f;
    padding-top: 13px;    
}
.modal-photo .modal-block button{
    color: #000;
}
.modal-photo .modal-block .here-photo{
    margin-top: 20px;
}
.modal-photo .modal-block .here-photo img{
    width: 50%;
    border: 5px solid rgba(255,255,255,1);
    width: 50%;
    float: left;
}
.modal-photo-big{
    overflow-y: auto;
    padding-bottom: 50px;
}
.modal-photo-big .modal-block{
    width: 800px;
}
.modal-photo-big .modal-block input{
    padding-top: 3px;
}
.modal-photo-big .modal-block input[type="file"]{
    padding-top: 10px;
}
textarea{
    height: 200px !important;
    border: 1px solid #000 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 15px !important;
    background: rgba(0,0,0,0) !important;
    color: #000 !important;
    font: normal 18px 'ProximaNovaRegular' !important;
    width: 100%;
    margin-bottom: 25px;
}
.gotoTop {
    text-align: center;
    position: fixed;
    cursor: pointer;
    z-index: 50;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    color: #000;
    display: none;
    background: #e0b565;
    border-radius: 25px;
    font-size: 26px;
    padding-top: 5px;
    z-index: 100;
}
.gotoTop:hover {
    transition: all 250ms;
    color: #fff;
}

.bottom{
    position: relative;
}
.bottom:after{
    content: "Политика конфиденциальности: «Нажимая на кнопку форм связи на сайте, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности. Все Ваши данные конфиденциальны и не будут переданы третьим лицам»";
    display: block;
    font: normal 12px 'ProximaNovaRegular';
    color: #5c5c5c;
    width: 1100px;
    padding: 10px 15px;
    margin: auto;
    text-align: center;
}

    
#widget_logo{
    top: 16px !important;
    left: 15px !important;
    width: 30px !important;
}

#mssgme_widget{
    display: none;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*медиа-разметка, смартфоны xs*/
@media (max-width: 340px) {
    .modal-send .modal-block .subtitle{
        font-size: 16px !important;    
    }
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*медиа-разметка, смартфоны xs*/
@media (max-width: 767px) {
    
    .block .title {
        font: 400 28px/34px 'Playfair Display';
        margin-top: 40px;
    }
    .block .subtitle{
        color: #39363f;
        font: 400 24px/30px 'Playfair Display';
    }
    label[style="opacity: 0;"]{
        display: none;
    }
    .btnMY-black{
        width: 100%;
    }
    .header .title div{
        text-align: center;
        padding: 0px;
    }
    .header .logo {
        padding: 30px 0px;
    }    
    .header .contacts {
        text-align: center;
        padding-bottom: 10px;
    }
    .header .contacts .media {
        width: 165px;
        margin: 5px auto 0px auto;
        float: none;
        text-align: center;
    }
    .header .contacts .media > li:first-child{
        padding-left: 0px;
    }
    .menu .navbar .navbar-collapse .nav {
        margin: 0px 0px 15px 0px !important;
        text-align: center;
    }
    .menu .navbar .navbar-collapse .nav > li {
        padding: 10px 0px;
        display: block;
    }
    .menu .navbar .navbar-collapse .nav > li > a{
        display: inline-block;
    }
    .block-1{
        background: #f0edea;    
    }
    .block-3 {
        background: #66656d;
        height: inherit;
        padding-bottom: 40px;
    }
    .block-4{
        background: #f2f7f8;
        height: inherit;
        padding-bottom: 40px;
    }
    .block-4 p{
        margin-left: 100px;
    }
    .block-6{
        background: #66656d;
        height: inherit;
    }
    .block-7{
        background: #f0f0f0;
        height: inherit;
        padding-bottom: 40px;
    }
    .block-7 p{
        margin-left: 100px;
    }
    .block-8{
        background: #ffffff;
        height: inherit;
        padding-bottom: 40px;
    }
    .block-8 p {
        font: normal 22px 'Playfair Display';
    }
    .block-8 .open-photo{
        margin-bottom: 20px;
    }
    .block-9{
        background: #332934;
        height: inherit;
        padding-bottom: 40px;
    }
    .block-9 .one-icon .arrow{
        display: none;
    }
    .block-10 .one-comment{
        text-align: center;
        padding: 15px;
    }
    .block-10 .one-comment img {
        float: none;
        margin: 0px 0px 15px 0px;
    }
    .block-10 .one-comment .title-com {
        font: 400 24px 'Playfair Display';
        margin: 0px 0px 15px 0px;
    }
    .block-10 .one-comment p {
        font: normal 16px 'ProximaNovaRegular';
        margin: 0px;
    }
    .block-11 .block-icons .icon1{
        top: -110px;
        right: 10%;
    }
    .block-11 .block-icons .icon2{
        display: none;
    }
    .block-11 .block-icons .icon3{
        display: none;
    }
    .block-11 .block-icons .bg{
        float: none;
        margin: 0px;
        max-width: 100%;
    }
    .block-11 .block-icons .title{
        text-align: center;
        margin-top: 30px;
    }
    .block-11 .block-icons .line {
        width: 100%;
        margin: 20px 0px;
    }
    .block-11 .block-icons .subtitle{
        font: 400 24px/34px 'Playfair Display';
    }
    .block-13 .question .head .text {
        font: 400 20px/24px 'Playfair Display';
        margin-top: 0px;
    }    
    .block-13 .question .head {
        padding: 20px 10px;
    }
    .block-13 .question .body {
        padding: 15px;
    }    
    .block-13 .question .head .num {
        margin-right: 10px;
    }
    .block-13 .question .head .text{
        margin-left: 60px;
    }
    .modal-send .modal-block{
        margin: 0px;
        padding: 15px;
        width: 100%;
    }
    .modal-send .modal-block .exit{
        right: 0px;
    }
    .instagram{
        padding-bottom: 50px;
    }
    .row-photo > div{
        margin-top: 15px;
    }
    .arenda-2 .prices {
        margin-top: 0px;
        padding: 0px 15px;
    }
    .arenda-2 .prices > div {
        border-right: none !important;
    }
    .arenda-2  .prices > div > div > span.visible-xs{
        margin-bottom: 15px;
    }
    .arenda-2  .prices > div > div{
        border-bottom: 1px solid rgba(0,0,0,0.5) !important;
    }
    .arenda-3 .map #map{
        height: 300px;
    }
    .education .one-stilitst-education .title{
        font: 400 20px 'Playfair Display';
        margin-top: 20px;
    }
    .education .one-stilitst-education .subtitle{
        font-size: 16px;
    }
    .education .one-stilitst-education .subtitle > span{
        display: block;
        font-size: 18px;
    }
    .education .one-stilitst-education .subtitle > span {
        display: block;
    }
    .education .one-stilitst-education .btnMY-black{
        margin: 17.5px 0px 0px 0px;
        position: static;
        display: block;
        width: 100%;
    }
    .education .one-stilitst-education .btnMY-onix {
        margin: 17.5px 0px 0px 0px;
        position: static;
        display: block;
        width: 100%;
    }    
    .price .tabs-for-price{
        width: 100%;
    }
    .price .tabs-for-price > .one-tab-p{
        font: 400 16px/22px 'Playfair Display';
        width: 50%;
    }
    .price .tabs-for-price > .one-tab-p > br{
        display: block;
    }
    .one-price{
        padding: 15px 15px 10px 15px;    
    }
    .one-price .body .img {
        display: none;
    }
    .one-price .body .table-my .td-my b {
        font: 600 14px 'Playfair Display';
    }
    .one-price .body .table-my .td-my span {
        font: normal 14px 'ProximaNovaRegular';
    }
    .one-price .body .table-my .td-my:nth-child(1),
    .one-price .body .table-my .td-my:nth-child(2),
    .one-price .body .table-my .td-my:nth-child(3){
        height: 66px;
    }
    .one-price .body .title {
        font: normal 18px 'ProximaNovaRegular';
    }
    .one-price .head .text {
        font: 400 18px/24px 'Playfair Display';
    }
    .one-stylist-2 .one-work {
        margin-top: 15px;
        min-height: 100px;
    }
    .modal-photo .modal-block{
        margin: 0px;
        padding: 15px;
        width: 100%;
    }
    .modal-photo .modal-block .exit-photo{
        right: 0px;
    }
    .modal-photo-big .modal-block{
        width: 100%;
    }
    .gotoTop {
        bottom: 25px;
        right: 25px;
    }

    .bottom:after{
        width: 100%;   
    }
        
}


/*------------------------------------------------------------------------------------------------------------------------*/
/*медиа-разметка, планшеты sm*/
@media (min-width: 768px) and (max-width: 991px) {
    
    .o-block-6 .left {
        margin-bottom: 20px;
    }
    .row-flex-my > div{
        margin-bottom: 20px;   
    }
    
}


/*------------------------------------------------------------------------------------------------------------------------*/
/*медиа-разметка, ноутбуки md*/
@media (min-width: 992px) and (max-width: 1199px) {

    .block-flex-my{
        
    }
    
    .row-flex-my{
        align-items: stretch;
        display: flex;
    }
    
    .row-flex-my > div{
        float: none;
        position: relative;
        padding-bottom: 75px;
    }
    
    .row-flex-my > div > .table-info {
        height: 100%;
    }
    
    .row-flex-my > div > .open-window{
        position: absolute;
        width: calc(100% - 30px);
        bottom: 0px;
    }

}


/*------------------------------------------------------------------------------------------------------------------------*/
/*медиа-разметка, большие мониторы lg*/
@media (min-width: 1200px) {
    
    .container{
        width: 1100px;
    }

    .block-flex-my{
        
    }
    
    .row-flex-my{
        align-items: stretch;
        display: flex;
    }
    
    .row-flex-my > div{
        float: none;
        position: relative;
        padding-bottom: 75px;
    }
    
    .row-flex-my > div > .table-info {
        height: 100%;
    }
    
    .row-flex-my > div > .open-window{
        position: absolute;
        width: calc(100% - 30px);
        bottom: 0px;
    }
    
}